nav {
  background-color: #cd183b;
}

#landing {
  background-position: 13% 96%;
  position: relative;
  top: 30px;

  .hero {
    height: 55vh;
  }

  p,
  q,
  li,
  textarea {
    font-family: "garamond-online";
    font-size: 20px;
  }

  input,
  textarea {
    padding-top: 6px;
  }

  blockquote {
    border: none;
  }

  #pastperformances,
  #aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;

    button {
      width: 125px;
      margin: 10px auto 0;
    }
  }

  @media screen and (min-width: 600px) {
    p,
    q,
    li,
    textarea {
      font-size: 22px;
    }
  }

  @media screen and (min-width: 1200px) {
    p,
    q,
    li,
    textarea {
      font-size: 24px;
    }
  }
}
