nav {
  background-color: #cd183b;
}

#landing {
  background-position: 13% 96%;
  position: relative;
  top: 30px;

  .hero {
    height: 55vh;
  }

  input,
  textarea {
    padding-top: 6px;
  }
}
