.margin-top {
  margin-top: 25px;
}

#school {
  .hero {
    img {
      height: 50vh;
    }
  }
  .summary {
    max-width: 700px;
    font-size: 25px;
    margin: 15px auto;
  }

  .school-content {
    position: relative;
    top: 45px;
  }

  .cta {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    text-align: center;
    margin: auto;

    @media screen and (min-width: 800px) {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}

#menu {
  p {
    font-size: 25px;
  }

  h3 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  li {
    font-size: 25px;
    font-family: "garamond-online";
  }
}
