#services {
  .summary {
    max-width: 700px;
    font-size: 25px;
    margin: 15px auto;
  }

  .services-content {
    position: relative;
    top: 45px;
  }

  .cta {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
}

#menu {
  p {
    font-size: 25px;
  }

  h3 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  li {
    font-size: 25px;
    font-family: "garamond-online";
  }
}
