#photos {
  @media screen and (min-width: 990px) {
    .landscape {
      img {
        height: 225px;
      }
    }

    .portrait {
      img {
        height: 450px;
      }
    }
  }
}

#myModal {
  @media screen and (min-width: 990px) {
    .carousel-landscape {
      img {
        height: 650px;
      }
    }

    .carousel-portrait {
      img {
        height: 650px;
      }
    }
  }
}
