#photos {
  img {
    cursor: pointer;
  }

  @media screen and (min-width: 990px) {
    .landscape {
      img {
        height: 225px;
      }
    }

    .portrait {
      img {
        height: 450px;
      }
    }
  }
}

#myModal {
  .carousel-landscape {
    img {
      height: 300px;
    }
  }

  .carousel-portrait {
    img {
      height: 300px;
    }
  }

  @media screen and (min-width: 800px) {
    .carousel-landscape {
      img {
        height: 650px;
      }
    }

    .carousel-portrait {
      img {
        height: 650px;
      }
    }
  }
}
