#services {
  .summary {
    max-width: 700px;
    font-size: 25px;
    margin: 15px auto;
  }

  .services-content {
    position: relative;
    top: 45px;
  }
}

#menu {
  p {
    font-size: 25px;
  }
  li {
    font-size: 25px;
    font-family: "garamond-online";
  }
}
